* {
    margin: 0px;
    padding: 0px;
  }

  body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
  }
  
  /* Navigation Bar*/
  nav {
    height: 64px;
    margin: 10px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
  }

  .nav-left {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-right {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-right p {
    margin-left: 16px;
  }

  /* section 2 */
  .banner-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    background-color: #D8D8D8;
  }

  .banner-picture {
    width: 60%;
    padding: 0 24px;
  }

  .banner-picture img {
    width: 100%;
  }

  .banner-text {
    width: 30%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-text-inside h1 {
    font-size: 50px;
    font-weight: 800;
    color: #4A4A4A;
  }

  .banner-text-inside p {
    margin: 40px 0;
    font-size: 30px;
    font-weight: 400;
    color: #4A4A4A;
  }

  .banner-text-inside button {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
    padding: 10px 0;;
    border: none;
    background-color: #454545;
    color: #FFF;
  }

  /* section 3 */
  .section3 {
    display: flex;
    width: 100%;
    margin: 32px 0;
    color: #4A4A4A;
  }

  .section3Left {
    width: 66%;

    padding: 0 24px;
  }

  .section3Left img {
    width: 100%;

  }

  .section3LeftText h2 {
    margin: 32px 0;
    font-size: 50px;
  }

  .section3LeftText p {
    margin: 32px 0;
    font-size: 22px;
    color: #878787;
  }

  .section3Right {
    width: 40%;
  }

  .section3RightBox {
    width: 100%;
    display: flex;
  }

  .section3RightBox:hover {
    background-color: #D8D8D8;
  }

  .section3RightBox img {
    width: 40%;
    margin: 16px;
  }

  .section3RightBoxText {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section3RightBoxText h3 {
    font-size: 25px;
  }

  .section3RightBoxText p {
    margin: 8px 0; 
    color: #878787;
  }

  .section3RightBoxText span {
    color: #6AA1DF;
    font-size: 18px;
  }

  /* section 4 */

  .startLearning {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    background-color: #EAEBEC;
    font-size: 50px;
    color: #4A4A4A;
  
  }

  .section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 72px;
    background-color: #EAEBEC;
    color: #4A4A4A;
  }

  .section4 h2 {
    display: flex;
    justify-content: center;
  }

  .courses {
    width: 30%;
    margin-bottom: 32px;
    margin: 16px;
  }

  .courses img {
    width: 100%;
  }


  .coursesDetails {
    padding: 16px;
    background-color: #FFF;
    height: 35%;

  }

  .coursesDetails h3 {
    font-size: 30px;
  }

  .coursesDetails h4 {
    margin: 8px 0;
    font-weight: 400;
    color: #878787;
  }

  .coursesDetails p {
    font-weight: 400;
    color: #878787;
  }

  /* Section 5 */

  .thesisExhibit {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #4A4A4A;

  }

  .thesis {
    display: flex;
    width: 100%;
    color: #4A4A4A;
  }

  .thesisLeft {
    width: 60%;
  }

  .section5Left video {
    width: 100%;
  }

  .section5LeftText h3 {
    margin-top: 24px;
    font-size: 30px;
  }

  .section3 {
    display: flex;
    width: 100%;
    margin: 32px 0;
    color: #4A4A4A;
  }

  .section5Left {
    width: 66%;
    padding: 0 24px;
  }

  .section5Left img {
    width: 100%;

  }

  .section5LeftText h2 {
    margin: 32px 0;
    font-size: 50px;
  }

  .section5LeftText p {
    margin: 32px 0;
    font-size: 22px;
    color: #878787;
  }

  .section5Right {
    width: 40%;
  }

  .section5RightBox {
    width: 100%;
    display: flex;
  }

  .section5RightBox:hover {
    background-color: #D8D8D8;
  }

  .section5RightBox img {
    width: 40%;
    margin: 16px;
  }

  .section5RightBoxText {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section5RightBoxText h3 {
    font-size: 25px;
  }

  .section5RightBoxText p {
    margin: 8px 0; 
    color: #878787;
  }

  .thesisRight {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  /* footer */

  hr {
    border: 1px solid #EAEBEC;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 24px 72px 24px;
    color: #878787;
  }

/* Mobile */
@media only screen and (min-width: 600px) {
  body {
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
  }
  .mobileNav {
    display: none;
  }
  .section4Mobile {
    display: none;
  }

  .coursesMobile {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  body {
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
  }
  .mobileNav {
    display: none;
  }
  .section4Mobile {
    display: none;
  }

  .coursesMobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
  }

  nav {
    display: none;
  }

  .mobileNav {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mobileNav img {
    width: 10%;
    height: 50%;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .banner-picture {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .banner-container img {
    width: 100%;
  }

  .banner-text {
    width: 94%;
    margin-top: 32px;
    padding: 0 16px;

  }

  .banner-text-inside {
    width: 100%;

  }

  .banner-text-inside button {
    background-color: #9B9B9B;

  }

  .section3Left {
    display: none;
  }

  .section3Right {
    width: 100%;
  }

  .section3RightBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;
  }

  .section3RightBox:last-child {
    margin-bottom: 0;
  }

  .section3RightBox img {
    width: 95%;
  }

  .coursesDesktop {
    display: none;
  }

  .coursesMobile {
    display: block;
  }

  .section3RightBoxText {
    margin-left: 16px;
  }

  .startLearning {
    background-color: #FFF;
    margin-bottom: 16px;
    padding-bottom: 32px;
  }

  .section4 {
    display: none;
  }

  .section4Mobile p {
    background-color: #D8D8D8;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    color:#5B5B5B;
    padding: 16px 0 24px 16px;
    margin: 0 16px 8px 16px;
  }

  .section5Right {
    display: none;
  }
  
  .section5Left {
    width: 100%;
    margin-bottom: 24px;
  }

  .section5LeftText {
    display: none;
  }

  hr {
    display: none;
  }

  footer {
    display: block;
    margin: 16px 0 32px 16px;
  }

  .termsPrivacy {
    display: none;
  }
}








